<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<%-
				data.map(dataRow => `<tr><td>${dataRow.game_date}</td><td>${dataRow.visitor_name}</td><td>${dataRow.home_score}</td><td>${dataRow.visitor_score}</td><td>${(dataRow.home_score > dataRow.visitor_score)? "home" : "visitor"}</td></tr>`).join("");
			%>

		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td><%- wins %></td>
				<td><%- losses %></td>
			</tr>
		</table>

	</div>
<% include ../partials/footer %>
